<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <li><a href="{% url 'board:board_index' %}">Home</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        <li><a href="{% url 'board:board_create' %}">New Article</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        <li><a href="{% url 'accounts:profile' request.user.username %}">{{request.user.username}}님의 my page</a></li>
    </ul>
    {% block content %}{% endblock content %}
</body>
</html>